body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;  
}

.pageTitle {
  color: #DADADA;
  text-align: center;
}

.lightText {
  color: #DADADA;
}

.backgroundPage {
  background-image: url(/src/images/dill.jpg);
  background-size: contain;
  background-attachment: fixed; 
}

.fillBackground {
  height: 100vh;
}

.link-button-dark {
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  font-size: 1em;
  color: lightblue;
  cursor: pointer;
}

.link-button-dark:hover {
  color: #007bff;
  text-decoration: underline;
}

.link-button-light {
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  font-size: 1em;
  color: blue;
  cursor: pointer;
}

.link-button-light:hover {
  color: darkblue;
  text-decoration: underline;
}

#loginButton, #resetPassButton{
  display: flex;
  justify-content: center;
  align-items: center;
}


#loginWrapper, #registerWrapper, #resetPassWrapper {
  background-color: #464646;
  padding: 10px;
  border: 1px solid #DADADA;
}
#accountWrapper {
  background-color: #464646;
  padding: 10px;
}
#accountModalWrapper, #addFoodWrapper, #editFoodWrapper {
  background-color: #DADADA;
}

#loginWrapper:hover {
  border: 5px ridge #DADADA;
}

#inner-title {
  color: #0B2B53;
}

#registerLink {
  color: #0B2B53;
  margin-top: 10px;
  text-align: left;
}

#resetPassLink {
  color: #0B2B53;
  text-align: left;
}

#loginForm, #registerForm, #resetPassForm{
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #DADADA;
}

#fridgeTable {
  padding-top: 25px;
}

#fridgeCRUD {
  padding-bottom: 10px;
}
/* Added by Jon, I'm not sure where to place them 
  for styling(relation to others^) purposes*/
.tooltip-inner{
  max-width: 100% !important;
}
.emailTemplateBackground
{
  background-color: #464646;
  background-size: contain;
  background-attachment: fixed; 
}




